article{
	border-bottom: 2px solid #6A6C77;
	padding-bottom: 25px;
}
.article_title{
	color: #6A6C77;
	padding: 7px 0;
}
.list-unstyled li p, .list-unstyled li h4{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}